* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

img {
    width: 2vw;
    transition: width 0.6s;
}

button:hover img {
    width: 2.5vw;
}

#cor-primaria,
#cor-secundaria {
    height: 40%;
}

.container-alerta {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 53, 53, 0.442);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.estiloAlerta {
    width: 300px;
    height: 300px;
}

.alert-success {
    background-color: #54e8b0;
}

.valid-feedback {
    color: #54e8b0;
}

.invalid-feedback {
    color: #ef4a5d;
}