* {
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body>header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

header li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container h2 {
    font-size: 30px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin: 8px 0;
}

.articles article a {
    background-color: lightskyblue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 16px;
    border-radius: 15px;

}

.articles article a:hover {
    outline: 1.5px solid #fff;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

.section h2 {
    font-size: 32px;
}

#sports {
    background-color: #ef2f2f;
}

#sports .articles article a {
    background-color: #EF862F;
    color: rgb(249, 249, 248);
}

#economy {
    background-color: #dff782;
}

#economy .articles article a {
    background-color: #A5E77A;
    color: rgb(249, 249, 248);
}

#economy .articles article a:hover {
    outline: 1.5px solid black;
    color: #2f3640;
}

#entretenimento {
    background-color: #ef639f;
}

#entretenimento .articles article a {
    background-color: #FF846A;
    color: rgb(249, 249, 248);
}

#tecnologia {
    background-color: #55ffcc;
    padding-top: 50px;
}

#tecnologia .articles article a {
    background-color: #8BC2FF;
}

#tecnologia .articles article a:hover {
    outline: 1.5px solid black;
    color: #2f3640;
}

footer {
    text-align: center;
    background-color: #2f3640;
    color: rgb(249, 249, 248);
}